extends layout 

block content 
    .w3-container
        .w3-card-4 
            header.w3-container.w3-teal 
                h3 Ficheiro Recebido
            .w3-container 
                table.w3-table-all
                    tr
                        th Ficheiro 
                        td= ficheiro
                    tr
                        th Status 
                        td= status
            footer.w3-container.w3-teal 
                address Made by Rui Calheno 