extends layout 

block content 
    .w3-container
        .w3-row
            header.w3-container
                h2 Upload de um ficheiro
            
            .w3-container 
                form.w3-container(action="/processForm", method="POST", enctype="multipart/form-data")
                    .w3-half
                        label
                            b Ficheiro 
                        input.w3-input(type="file" name="ficheiro")
                    .w3-row
                        .w3-half
                            label
                                b Descricao
                            input.w3-input(type="text" name="desc")
                        .w3-half.w3-center
                            input.w3-btn.w3-black.w3-margin(type="submit" value="Submeter")
        .w3-row 
            include lista
        footer.w3-container.w3-display-bottomright.w3-margin
            address Made by Rui Calheno 