
.w3-container
    h2 Ficheiros carregados
    .w3-container
        table.w3-table-all.w3-text-black
            tr.w3-theme-d3
                th Ficheiro
                th Tipo
                th Tamanho (Mb)
                th Descrição
            each f in ficheiros 
                tr.w3-theme-d1
                    td 
                        a(href=f.path)= f.nome
                    td= f.tipo
                    td= f.tamanho 
                    td= f.desc

            