extends layout 

block corpo
    .w3-container
        .w3-container  
            h2 Registar nova tese
        .w3-container
            form.w3-container(action="/processaForm", method="POST")
                h3
                    b Informação do aluno
                .w3-container.w3-border.w3-row-padding.w3-padding
                    .w3-half
                        label
                            b Nome 
                        input.w3-input.w3-border.w3-light-grey(type="text" name="nome")
                    .w3-half
                        label
                            b Número
                        input.w3-input.w3-border.w3-light-grey(type="text" name="numero")
                    .w3-half
                        label
                            b Curso
                        input.w3-input.w3-border.w3-light-grey(type="text" name="curso")
                    .w3-half
                        label
                            b Instituicao
                        input.w3-input.w3-border.w3-light-grey(type="text" name="instituicao")
                h3
                    b Informação da tese
                .w3-container.w3-border.w3-row-padding.w3-padding
                    .w3-half
                        label
                            b Título
                        input.w3-input.w3-border.w3-light-grey(type="text" name="titulo")
                    .w3-half
                        label
                            b Data
                        input.w3-input.w3-border.w3-light-grey(type="date" name="data")
                    .w3-third
                        label
                            b Tipo
                        select.w3-select(name="tipo")
                            option(value="Mestrado") Mestrado
                            option(value="Doutoramento") Doutoramento
                    
                input.w3-btn.w3-theme-d2.w3-margin-top(type="submit" value="Submeter")
