extends layout 

block corpo 
    .w3-container
        .w3-container.w3-display-middle
            h1.w3-center Arquivo de Teses 
            .w3-center
                p Para registar uma nova tese clique em 
                    b REGISTAR TESE
                    | .
                p Para listar as teses arquivadas clique em 
                    b LISTAR TESES
                    | .

        