doctype html
html
    head 
        title Arquivo de Teses 
        meta(charset="utf-8")
        link(rel="stylesheet", href="/w3.css")
        link(rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css")
        link(href="https://fonts.googleapis.com/css?family=Average" rel="stylesheet")
    body.w3-theme-d4
        .w3-bar.w3-padding.w3-theme-d5
            .w3-container.w3-left
                a.w3-bar-item.w3-btn(href="/") ÍNICIO
            .w3-container.w3-right
                a.w3-bar-item.w3-btn(href="/registo") REGISTAR TESE
                a.w3-bar-item.w3-btn(href="/lista") LISTAR TESES
        block corpo