extends layout 

block corpo 
    .w3-container
        .w3-container
            h2 Lista de Teses
            table.w3-table-all.w3-text-black
                tr.w3-theme-d3
                    th Aluno
                    th Número
                    th Curso
                    th Instituição
                    th Tese
                    th Data
                    th Tipo
                each t in teses 
                    tr.w3-theme-d1
                        td= t.nome
                        td= t.numero
                        td= t.curso
                        td= t.instituicao
                        td= t.titulo
                        td= t.data
                        td= t.tipo

            