extends layout

block sidebar 
    .w3-sidebar(style="width:30%;")
        h2.w3-center Músicas
        ul.w3-ul.w3-hoverable
            each m in ind
                li
                    a(href="http://localhost:3000/musicas/" + m.id)= m.titulo

block corpo 
    .w3-container.w3-display-middle(style="margin-left:15%;")
        h2 Arquivo Músical

    