doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="/style/w3.css")
        link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet")
    body 
        block sidebar
        block corpo