extends layout

block sidebar 
    .w3-sidebar(style="width:30%;")
        h2.w3-center Músicas
        ul.w3-ul.w3-hoverable
            each m in ind
                li
                    a(href="http://localhost:3000/musicas/" + m.id)= m.titulo

block corpo 
    .w3-container(style="margin-left:30%")
        h2.w3-center.w3-margin= mus._id + " \"" + mus.titulo + "\""
        hr
        ul.w3-ul.w3-margin
            li
                h5.w3-margin-left 
                    b Titulo
                p.w3-margin-left.w3-padding= mus.titulo
            li
                h5.w3-margin-left
                    b Tipo
                p.w3-margin-left.w3-padding= mus.tipo
            li
                h5.w3-margin-left  
                    b Compositor
                p.w3-margin-left.w3-padding= mus.compositor
            if mus.arranjo 
                li
                    h5.w3-margin-left  
                        b Arranjo
                    p.w3-margin-left.w3-padding= mus.arranjo
            if mus.edicao
                li
                    h5.w3-margin-left  
                        b Edição
                    p.w3-margin-left.w3-padding= mus.edicao
            li
                h5.w3-margin-left
                    b Instrumentos
                table.w3-table.w3-table-all
                    tr
                        th Instrumento 
                        th Path Partitura 
                        th Voz 
                        th Clave
                    each inst in mus.instrumentos 
                        tr 
                            td= inst.nome 
                            td
                                a(href=inst.partitura.path)= inst.partitura.path 
                            td= inst.partitura.voz
                            td= inst.partitura.clave
            footer.w3-container.w3-right
                p Made by Rui Calheno using Node.js
        

    