/* Navbar */

.centerer {
	margin: 0 auto; /* Center Navbar */
}

.titulo {
	text-align: center;
	padding-top: 1em;
	font-family: cursive;
}

.navbar {
	background-color: white;
	font-family: cursive;
}

/* Conteudo */

table {
	width: 100%;
}


td {
	padding: 0 2em;
	margin: 0;
}

p {
	font-family: 'Playfair Display';
}

/* Secções */

.seccoestit {
	font-family: cursive;
	font-size: 2em;
	margin-bottom: 1em;
}

.sectionr img {
	float: right;
	height: 50%;
}

.sectionr .h5 {
	float: left;
}

.sectionr .p {
	float: left;
}

.sectionl img {
	float: left;
	height: 50%;
}

.sectionl .h5 {
	float: right;
}

.sectionl .p {
	float: right;
}

/* footer */

.footer {
	margin: 1em 0;
	font-family: 'Playfair Display';
}
